
<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Welcome to PIzza</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in sagittis lectus. Duis et enim eget augue fermentum vehicula quis eget lorem. Praesent tempus hendrerit mi vitae euismod. Donec bibendum vestibulum velit vel facilisis. Mauris nec erat elit. Donec erat arcu, luctus a ligula ut, pretium finibus dui. Aliquam condimentum nibh sed facilisis pharetra. Maecenas in scelerisque neque. Duis fermentum ut nisi vel scelerisque. Donec condimentum velit magna, non egestas nisl dictum nec. Nullam at tempor massa, ac pretium ex. Aliquam gravida, tellus sit amet eleifend interdum, turpis ante congue nunc, eu facilisis justo nibh nec nisi.

    <%= image_tag('app/assets/images/sub.avif', alt: 'sub') %>
  </body>
</html>
